$logOpacity: 0.6;
$error: hsla(0, 59%, 30%, $logOpacity);
$warn: hsla(60, 42%, 38%, $logOpacity);
$info: hsla(228, 57%, 55%, $logOpacity);
$debug: hsla(162, 48%, 32%, $logOpacity);

.log {
	&--error { background-color: $error; }
	&--warn { background-color: $warn; }
	&--info { background-color: $info; }
	&--debug { background-color: $debug; }

	&__copy-message {
		background-color: hsla(0, 0%, 0%, 0.25);
	}
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
