<div>
	<mat-card appearance="raised">
		<mat-card-header>
			<div class="flex w-full justify-between">
				<mat-card-title>
					<span>{{ hunt.species }}</span>
				</mat-card-title>
			</div>
		</mat-card-header>

		<mat-card-content>
			<div class="flex flex-col gap-3">
				@for (counter of [hunt.counters[0]]; track counter.id) {
					<div class="flex flex-col w-min text-sm">
						<div class="flex w-min relative mt-1">
							<span class="text-base">{{ counter?.count }}</span>

							<span
								class="absolute text-xs -top-1"
								[style.right]="'-' + ((counter?.interval || 0).toString().length + 1) + 'ch'"
							>x{{ counter?.interval }}</span>
						</div>

						<span>{{ counter?.method }}</span>

						<div class="flex flex-wrap">
							@for (game of counter.games; track $index) {
								<mat-chip>
									<div class="flex gap-1">
										<span>{{ game?.version }} - {{ game?.location }}</span>
										<fa-icon *ngIf="game?.found" [icon]="shinyIcon" matTooltip="Found Shiny"></fa-icon>
										<fa-icon *ngIf="!game?.caught" [icon]="failedIcon" matTooltip="Failed Shiny"></fa-icon>
									</div>
								</mat-chip>
							}
						</div>
					</div>
				}
				<span *ngIf="hunt.counters.length > 1">Plus {{ hunt.counters.length - 1 }} more...</span>

				<div class="flex gap-2 justify-end">
					<button mat-raised-button (click)="onHunt(hunt)">Edit</button>
					<button mat-raised-button (click)="onHunt(hunt)">Hunt</button>
				</div>
			</div>
		</mat-card-content>

		<mat-card-footer>
			<div class="flex gap-4 justify-between p-4 text-xs text-neutral-700">
				<div>
					<span *ngIf="hunt?.createdDate">Created: </span>
					<span *ngIf="hunt?.createdDate">{{ prettyDate(hunt.createdDate || '') }}</span>
				</div>

				<div>
					<span *ngIf="hunt?.createdDate">Last Modified: </span>
					<span *ngIf="hunt?.lastModifiedDate">{{	prettyDate(hunt.lastModifiedDate || '') }}</span>
				</div>
			</div>
		</mat-card-footer>
	</mat-card>
</div>
