<log-tray class="absolute bottom-0 left-0 z-[9999]"></log-tray>

<div class="flex flex-row">
	<div class="relative shrink-0 w-screen px-24 pt-12">
		<div class="mb-4 pb-2 border-b border-neutral-500 flex flex-wrap justify-between gap-2">
			<div class="flex flex-wrap gap-4 text-3xl items-end">
				<div class="flex flex-nowrap">
					<a routerLink="/hunts"><span>PoiAutoCounter</span></a>

					<button mat-icon-button [matMenuTriggerFor]="menu">
						<fa-icon [icon]="quickMenuIcon"></fa-icon>
					</button>

					<mat-menu #menu="matMenu">
						<button mat-menu-item [disabled]="openFolderDebounceActive" (click)="onOpenHuntsFolder()">Open Hunts Folder</button>

						<button mat-menu-item (click)="onRefreshHunts()">Refresh Hunts</button>
					</mat-menu>
				</div>

				<div class="flex gap-4 items-end text-2xl ml-4">
					<fa-icon [icon]="routeDelimiterIcon" size="2xs"></fa-icon>
					<span>{{ routeTitle$ | async }}</span>
				</div>
			</div>

			<div class="flex flex-grow justify-end">
				<page-actions></page-actions>
			</div>
		</div>

		<router-outlet/>
	</div>
</div>

<pac-counter-help class="absolute bottom-8 right-8"></pac-counter-help>
<span class="absolute bottom-0 right-0 mr-2">v{{ versionPromise | async }}</span>
