<log-tray class="absolute bottom-0 left-0 z-[9999]"></log-tray>

<div
	class="flex flex-row translate-x-[-300px] transition-all duration-300"
	[class.!translate-x-[0px]]="toolbarService.isToolbarOpen()"
>
	<div class="shrink-0 w-[300px]">
		<toolbar></toolbar>
	</div>
	
	<div class="relative shrink-0 bg-[#1c1a1c] h-screen w-screen px-14 py-4">
		<router-outlet/>
	
		<toolbar-trigger class="absolute top-0 left-0 m-2"></toolbar-trigger>
	</div>
</div>

<pac-counter-help class="absolute bottom-8 right-8"></pac-counter-help>
<span class="absolute bottom-0 right-0 mr-2">v{{ versionPromise | async }}</span>
