<log-tray class="absolute bottom-0 left-0 z-[9999]"></log-tray>

<div class="flex flex-row">
	<div class="relative shrink-0 w-screen px-24 py-12">
		<div class="mb-4 pb-2 border-b border-neutral-500 flex justify-between">
			<div class="flex gap-4 text-3xl">
				<a routerLink="/hunts"><span>PoiAutoCounter</span></a>
				<fa-icon [style.font-size]="'unset'" [icon]="routeDelimiterIcon" size="2xs"></fa-icon>
				<span>{{ routeTitle$ | async }}</span>
			</div>

			<page-actions></page-actions>
		</div>

		<router-outlet/>
	</div>
</div>

<pac-counter-help class="absolute bottom-8 right-8"></pac-counter-help>
<span class="absolute bottom-0 right-0 mr-2">v{{ versionPromise | async }}</span>
