@tailwind base;
@tailwind components;
@tailwind utilities;

$background-one: #1c1a1c;

html, body {
	color: #eedee7;
	background-color: $background-one;
  margin: 0;
	height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
