@tailwind base;
@tailwind components;
@tailwind utilities;

$background-one: #2a272a;

html, body {
	color: #eedee7;
	background-color: $background-one;
  margin: 0;
	height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}
